<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
  </head>
  <body>
    <section>
      <h1 class="text-center mt-5">About</h1>
      <div class="m-auto" style="width: 40vw">
        <p class="fs-4 text-center">
          Smart contact manager is a simple web application, which is used to manage contacts in real time.
          The purpose of this application is to demonstrate the developer's ability to develop a smooth web
          App usnig technologies like Java for base programming, spring boot for backend development, SQL database
          for storing data, Hibernate JPA for ORM and many more small concepts which make this application up
          and running.
        </p>
      </div>

    </section>
  </body>
</html>
